body {
    background-color: blanchedalmond;
}

.section {
    width: 85%;
    background-color: red;
    color: black;
    border: 2px solid black;
    padding: 15px;
    border-radius: 15px;
    margin: 10px;
    font-family: monospace;  

}
